@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.first-section {
    background: url("../img/Sections background/section-1(header).jpg");
}

header {
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
}

.max-width {
    width: 1160px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1160px;
    margin: auto;
}

.header-div {
    display: flex;
    align-items: center;
}

.header-div1 {
    display: flex;
    align-items: center;
}

.header-ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header-ul > li > a {
    font-size: 16px;
    padding: 50px 10px 21px 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.header-ul > li > a:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.first-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 264px 0 129px;
}

.main-paragraph1 {
    font-size: 35px;
    color: #FFFFFF;
}

.main-span1 {
    color: #18CFAB;
}

.main-paragraph2 {
    font-size: 78px;
    color: #FFFFFF;
}

.main-paragraph3 {
    font-size: 34px;
    color: #D4D4D4;
    font-weight: normal;
}

.first-main > p {
    padding: 22px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.second-main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 243px;
}

.main-button1 {
    width: 169px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    font-size: 15px;
    margin-right: 26px;
    border: none;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
}

.main-button2 {
    width: 169px;
    height: 63px;
    background: #00CBF6;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
}

.second-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 377px;
    padding: 8px 0 83px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.block:hover .box-hover2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    border-top: 3px solid #18CFAB;
}

.block:hover .box-hover {
    display: none;
}

.box-hover2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    border-top: 3px solid #18CFAB;
}

.fives-section-text1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #18CFAB;
    padding: 38px 0 22px;
}

.fives-section-text2 {
    font-size: 13px;
    color: #8A8A8A;
    padding-bottom: 33px;
}

.box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1C2A33;
    color: #18CFAB;
}

.box2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #18CFAB;
    color: #FFFFFF;
}

.box3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1C2A33;
    color: #18CFAB;
}

.box4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #18CFAB;
    color: #FFFFFF;
}

.third-section {
    padding-bottom: 91px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our-services-p1 {
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    padding-bottom: 26px;
}

.border1 {
    border-bottom: 1px solid #18CFAB;
    width: 78px;
}

.border2 {
    border-bottom: 1px solid #18CFAB;
    width: 78px;
    padding-top: 2px;
    margin-left: 20px;
}

#our-services-ul {
    display: flex;
    padding: 69px 0 23px;
}

.our-services-button {
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    width: 194px;
    height: 72px;
    color: #717171;
    position: relative;
}

.our-services-button-click {
    background: #18CFAB;
}

.active-button {
    background: #18CFAB;
}

.our-services-button:hover {
    border: 2px solid #18CFAB;
}

.our-services-p2 {
    color: #777777;
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
}

.our-services {
    display: flex;
}

.fours-section {
    background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(0, 0, 0, 5)), url("../img/Sections background/section-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 127px;
}

.fours-section-h1 {
    font-size: 40px;
    color: #18CFAB;
    padding: 126px 0 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.fours-section-h2 {
    font-size: 16px;
    color: #D8D8D8;
    padding: 12px 0 67px;
}

.fours-section-button {
    width: 168px;
    height: 63px;
    border: none;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    background: #18CFAB;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fives-section-background {
    background: #E9EDEF;
}

.fives-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.fives-section-h1 {
    font-size: 36px;
    color: #4E4E4E;
    padding: 95px 0 20px;
}

.fives-section-ul1 {
    padding: 69px 0 71px;
    display: flex;
}

.fives-section-button:hover {
    border: 2px solid #18CFAB;
}

.fives-section-button {
    font-size: 14px;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 14px 15px;
}

.fives-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box:hover {
    border-top: 3px solid #18CFAB;
}

.fives-section-button2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 70px 0 107px;
}

.six-section-background {
    background: #FFFFFF;
}

.six-section {
    padding: 84px 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.six-section-h1 {
    font-size: 36px;
    color: #4E4E4E;
    padding-bottom: 24px;
}

.six-section-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 69px;
    grid-gap: 35px;
}

.six-section-link {
    position: relative;
}

.six-section-span-list {
    font-size: 14px;
    color: #777777;
}

.six-section-span1 {
    padding-left: 3px;
}

.six-section-span2 {
    padding: 0 6px;
}

.six-section-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 68px;
    background: #203E38;
    position: absolute;
    color: #FFFFFF;
    left: 193px;
}

.six-section-date {
    font-size: 16px;
}

.six-section-img {
}

.six-section-h2 {
    font-size: 18px;
    color: #717171;
    font-weight: bold;
    padding: 11px 0 10px;
}

.img-size {
    height: 152px;
}

.seven-section-background {
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    background-position: center;
}

.seven-section-h1 {
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.seven-section-img {
    padding: 66px 0 36px;
}

.seven-section-p1 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.seven-section-p2 {
    font-size: 16px;
    color: #18CFAB;
    font-weight: bold;
    text-transform: uppercase;
    padding: 37px 0 20px;
}

.seven-section-p3 {
    font-size: 14px;
    color: #BBBBBB;
}

.six-section-link:hover > h2 {
    color: #18CFAB;
    padding-left: 10px;
}

.six-section-link:hover > .six-section-box {
    background: #18CFAB;
}

.eight-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.eight-section-h1 {
    padding: 95px 0 24px;
    font-size: 36px;
    color: #4E4E4E;
}

.eight-section-flex {
    display: flex;
    padding: 83px 0 52px;
}

.eight-section-img {
    width: 100%;
    height: 100%;
}

.eight-section-grid2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 3px;
}

.eight-section-box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.eight-section-box2 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.box-in-box1 {
    height: 168px;
    width: 100%;
}

.box-in-box {
    height: 92px;
    width: 100%;
}

.eight-section-box3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.eight-section-box4 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.eight-section-box5 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.eight-section-box6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.eight-section-box7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.eight-section-box8 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.eight-section-box9 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.eight-section-box10 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.eight-section-box11 {
    grid-column-start: 5;
    grid-column-end: 7;
}

#eight-section-button {
    align-items: center;
    justify-content: space-evenly;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    display: flex;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.eight-section-button-position {
    display: flex;
    padding-bottom: 67px;
    align-items: center;
    justify-content: center;
}

footer {
    background: #22353F;
    text-align: center;
}

.bottom-text {
    font-size: 14px;
    color: #AEAEAE;
    padding: 48px 0 47px;
}

.bottom-span {
    color: #18CFAB;
}

.hidden {
    display: none;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
    position: absolute;
    bottom: -15px;
    left: 80px;
}

.section-box1 {
    height: 263px;
    width: 100%;
    padding-bottom: 21px;
}

.section-box2 {
    height: 380px;
    width: 100%;
    padding-bottom: 21px;
}

.section-box3 {
    padding-bottom: 21px;
}

.eight-section-column1 {
    padding-right: 21px;
}

.eight-section-column2 {
    padding-right: 21px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

*,
*:before,
*:after {
    box-sizing: border-box;
}

.persons {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 56px;
}

.person-prview-image {
    margin-top: 38px;
}

.person-image {
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.selected-slider-item {
    margin-bottom: 15px;
}

.carousel {
    position: relative;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
}

.slide {
    height: 100%;
    /* background-color: black; */
    position: absolute;
    z-index: 1;
    transition: left .4s cubic-bezier(.47, .13, .15, .89);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 35px;
    width: 33px;
    height: 34px;
    z-index: 2;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    -webkit-user-select: none;
    border: 2px solid #BBBBBB;
    color: #BBBBBB;
    background-color: transparent;
}

.nav:hover {
    background-color: #18CFAB;
    border-color: #18CFAB;
}

.nav-left {
    left: -44px;
}

.nav-right {
    right: -44px;
}

.carousel-arrow-icon-left {
    margin-left: 5px;
    margin-top: 2px;
}

.carousel-arrow-icon-right {
    margin-left: 7px;
    margin-top: 2px;
}