
body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.background {
    background-image: url("../img/background 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 22px 0px;
}

.header-content {
    display: flex;
    text-decoration: none;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-content1 {
    display: flex;
    justify-content: space-between;
}

.main-content2 {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5px;
}

.box {
    width: 30%;
}

.box > svg,
.box > img {
    width: 100%;
}

.box > span {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 0px 35px 0px;
}

.span1 {
    font-size: 29px;
    font-weight: bold;
}

.span2 {
    font-size: 18px;
    font-weight: bold;
}

.span3 {
    font-size: 18px;
    padding-bottom: 19px;
}

.footer > a {
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 50px 0px 15px 0px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

img:hover {
    color: #F26522;
}

.span3:hover {
    color: #F26522;
}

.box:hover > span {
    color: #F26522;
}

.name:hover {
    color: #F26522;
}

.detailed-info {
    background-color: #F26522;
    display: none;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.box:hover .detailed-info {
    display: flex;
}

.orange-logo {
    display: none;
}

.header-content:hover > .orange-logo {
    display: block;
}

.header-content:hover > .white-logo {
    display: none;
}

.content {
    max-width: 1028px;
}

.box-image {
    position: relative;
}

.box-image > img {
    max-width: 100%;
}

.main-content1-span1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.span6::after {
    content: ">";
    padding: 31px 16px 30px 16px;
}

.span4 {
    padding: 7px 0px 0px 16px;
    font-size: 10px;
    color: #FFFFFF;
}

.span5 {
    padding: 8px 0px 12px 16px;
    font-size: 20px;
    color: #FFFFFF;
}

.span6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
}

.footer {
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 50px 0px 15px 0px;
}