.g-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	padding: 32px 0;
	box-sizing: border-box;
	background-color: rgba(#f8f9fa, 0.7);

	box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);

	.sidebar-logo {
		margin-bottom: 32px;
	}


	.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;

		.nav-item {

		}

		.nav-link {
			width: 100%;
			padding: 20px 8px;
			box-sizing: border-box;
			transition: all 0.5s;
			border-bottom: 1px solid #212529;

			&::before {
				bottom: -2px;
				width: 100%;
			}

			svg {
				width: 32px;
				height: 32px;
			}

			&.active,
			&:hover {
				background-color: rgba(#2e58bc, 0.6);
				border-bottom-color: rgba(#2e58bc, 0.6);

				&::before {
					color: #fff;
					height: 2px;
					opacity: 1;
				}
			}
		}
	}

	.sub-menu {
		position: absolute;
		right: -277px;
		top: 0;
		bottom: 0;
		padding: 32px 0;

		background-color: rgba(248, 249, 250, 0.7);
	}

	.nav-sub-menu {
		margin: 0;
		padding: 0 16px;
		list-style: none;
		box-sizing: border-box;

		.menu-item {
			display: flex;
			justify-content: left;

			&:not(:last-child) {
				margin-bottom: 16px;
			}

			.label {
				cursor: pointer;
			}

			input {
				 margin-right: 16px;
			}
		}
	}
}

.sidebar-button {
	background: #6b78d6;
	border: solid black;
	margin: 10px;

}

.sidebar-img{
	width: 1rem;
	height: 1rem;
}

.sidebar-img-active{
	background-color: red;
}