.home-dashboard {
  .dashboard-rooms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -24px;

    .room-card {
      margin: 24px;
    }
  }

  .room-card {
    padding: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgb(0 0 0/0.1),0 8px 10px -6px rgb(0 0 0/0.1);


    .room-icon {
      display: block;
      width: 160px;

      svg {
        width: 100%;
      }
    }
  }
}