body {
    font-family: 'Arimo', sans-serif;
}
table {
    border: 22px solid #3A4965;
    background: #F2F2F2;
    text-transform: uppercase;
}
tr, td {
    width: 160px;
    height: 165px;
    border: 1px solid   #d7d7d7;
    vertical-align: middle;
    text-align: center;
}
th {
    vertical-align: middle;
    text-align: center;
}
.first-row {
    border: 22px  solid #3A4965;
    height: 115px;
    font-weight: bold;
}
.background-col {
    background: #E3E3E3;
}