body {
    font-family: 'Arimo', sans-serif;

}
table {
    text-transform: uppercase;
    border: 22px solid #3A4965;
    margin: 0 auto;
}
td, th {
    vertical-align: middle;
    text-align: center;
}

td, tr {
    width: 284px;
    height: 89px;
    border: 1px solid #E3E3E3;
    font-size: 16px;
    color: #484848;
}

button {
    height: 51px;
    width: 195px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
}
.button1 {
    background: #484848;
}
.button2 {
    background: #79B027;
}
.button3 {
    background: #F04A56;
}
.button4 {
    background: #20807C;
}
.h1 {
    background: #89C331;
    font-size: 24px;
    color: #FFFFFF;
 }
.h2  {
    font-size: 30px;
    background: #F04A56;
    color: #FFFFFF;
}
.h3  {
    font-size: 24px;
    background: #20807C;
    color: #FFFFFF;
}
.odd {
    background: #E3E3E3;
}
.even {
    background: #F2F2F2;
}
.span1 {
    font-size: 60px;
    font-weight: bold;
}
.span2 {
    font-size: 24px;
    font-weight: bold;
}
.span3 {
    font-size: 18px;
}
.row-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-price2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}
.cell1 {
    font-size: 18px;
}
.cell2 {
    font-size: 30px;
    font-weight: bold;
}