.form-basket{
    padding-top: 50px;
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type=submit]:hover {
    background-color: #45a049;
}

label{
    font-weight: bold;
    color: black ;
    border-radius: 4px;
    font-size: 16px;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 0.25rem;
}