body {
    background: #171717;
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    width: 70%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0px 128px 0px;
}

.header-contact {
    color: #D6AF76;
}


.header-feedback {
    display: flex;
    justify-content: center;
}

.feedback-border {
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 25px;
}
.feedback-border > img {
    padding-right: 10px;
}

.phone {
    margin: 10px 39px 0px 0px;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.feedback {
    color: #E4B564;
    font-size: 18px;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
}

h2 {
    font-size: 20px;
    color: #FFFFFF;
    padding: 41px 0px;
}

.wrapper {
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 34px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
    background: #634F2C;
    grid-column: 1 / 5;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
    background: #B4A385;
    padding: 0px 43px;
    grid-column: 5 / 9;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
    background: #E4B564;
    grid-column: 9 / 13;
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
    background: #635A4A;
    grid-column: 1 / 7;
}

.box5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
    background: #B08C4D;
    grid-column: 7 / 13;
}

.section2 {
    font-size: 20px;
}
h3 {
    font-size: 50px;
    padding: 160px 0px 94px 0px;
    color: #FFFFFF;
}

h4 {
    color: #FFFFFF;
    font-size: 50px;
}

.wrapper2 {
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 34px;
    font-size: 20px;
    height: 800px;
}
.box6 {
    background: #0E0E0E;
    grid-row: 1 / 3;
    padding: 44px 0px 0px 51px;

}

.box7 {
    background: #242424;
    grid-row: 1 / 4;
    padding: 44px 0px 0px 51px;
}

.box8 {
    background: #1F1F1F;
    grid-row: 1 / 3;
    padding: 44px 0px 0px 51px;
}

.box9 {
    background: #1F1F1F;
    grid-row: 3 / 7;
    padding: 44px 0px 0px 51px;
}

.box10 {
    background: #E4B564;
    grid-row: 4 / 7;
    color: #000000;
    padding: 44px 0px 0px 51px;
}

.box11 {
    background: #0E0E0E;
    grid-row: 3 / 5;
    padding: 44px 0px 0px 51px;
}

.box12 {
    background: #0A0909;
    grid-row: 5 / 7;
    padding: 44px 0px 0px 51px;
}

.text-box {
    font-weight: bold;
}

.section3 {
    font-size: 20px;
    background-color: #0E0E0E;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 172px 0px 72px 0px;
}

.footer-button {
    padding: 10px 40px;
    text-decoration: none;
    color: #E4B564;
    border: 1px solid #E4B564;
}

.wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1200px;
}

.box13 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #634F2C;
    grid-row: 1 / 2;
}

.box14 {
    display: grid;
    color: #FFFFFF;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    background: rgba(232, 210, 171, 0.76);
}

.box15 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4B564;
}

.box16 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #635A4A;
    grid-row: 2 / 3;
}

.box17 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B08C4D;
}

.box18 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #634F2C;
}

.footer-span {
    font-weight: bold;
}

.footer-span2 {
    color: #FFFFFF;
    font-weight: bold;
}

.footer-image {
    position: absolute;
    top: 180px;
    left: 200px;
}
