
li {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 20px;
    background: grey;
}

.post-title {
    padding: 20px;
    text-transform: uppercase;
}

.user-text {
    padding: 20px;
    text-transform: uppercase;
}

.user-information {
    padding: 20px;
}

.delete-button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 20px;
    width: 70px;
    background: red;
    border: 2px solid black;
    border-radius: 20px;
}


