@import "./mixins.scss";
@import "./variables.scss";

@media only screen and (min-width: 1201px) {
  body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  //===========Welcome-block============//

  .welcome-block {
    position: relative;
    background-image: url("../app/images/img 1.jpg");
    height: calc(100vh - 111px);
    background-position: center;
  }
  .header-info {
    display: none;
  }
  .hidden {
    display: none;
  }
  .burger-menu {
    background: #333;
    position: absolute;
    z-index: 10;
    top: 110px;

    ul {
      list-style-type: none;
      font-size: 26px;
      color: #FFFFFF;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .menu-item {
        padding: 29px 0 21px 0;

        a {
          text-decoration: none;
          color: white;
          font-size: 26px;
          border-left: 7px solid #8D81AC;
          width: 100%;
          font-weight: normal;
          padding: 10px 30px 10px 50px;
          border-bottom: 2px solid #3b3b3b;
        }
      }
    }
  }
  .menu-item2 > a {
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: #8D81AC;
    padding: 0 15px;
    font-weight: bold;
  }
  .menu-item2 > a:hover{
    color: #FFFFFF;
  }
  .header--menu--pc{
    display: flex;
    padding-right: 20px;
  }
  .header--info--pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #010005;
  }
  .header--info--logo--pc{
    padding: 30px 0 0 90px;
  }
  .header--info--logo2:hover{
    color: #FFFFFF;
  }
  .header--info--button--pc{
    padding-right: 90px;
  }
  .header--info--button:hover{
    background: #FFFFFF;
    color: #8D81AC;
    border: 1px solid #8D81AC;
  }
  .header--info--menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

  }
  .header--menu{
    display: none;
  }
  .menu-item > a:hover {
    color: #8D81AC;
  }
  .header--button{
    display: none;
  }
  .header--burger{
    display: none;
  }
  .welcome--block--headline {
    @include welcome--block--headline;
    font-size:72px;
  }
  .header--info--button {
    @include header--info--button;
    padding: 5px 25px;
  }
  .welcome--block--article1 {
    @include welcome--block--article1;
    font-size: 24px;
  }
  .welcome--block--article2 {
    @include welcome--block--article2;
  }
  .welcome--block--content {
    position: absolute;
    bottom: -25px;
    @include absolute;
  }
  .welcome-block--button {
    @include welcome-block--button;
    padding: 22px 100px;
  }
  .welcome-block--button:hover {
    background: #FFFFFF;
    color: #8D81AC;
    border: 2px solid #8D81AC;
  }

  //===========Welcome-block============//

  //===========Section-one============//
  .section--one--first--article {
    @include section--one--first--article;
    padding: 19px 0 8px;
  }
  .section--one--headline {
    @include section--one--headline;
    font-size: 54px;
  }
  .section--one--second--article {
    font-size: 21px;
    color: #323232;
  }
  .section--one--buttons {
    padding: 13px 0 70px;
  }
  .header--info--logo1{
    display: none;
  }
  //===========Section-one============//

  //===========Section-two============//
  .section--two {
    background: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    padding: 40px 0 70px 20px;
    margin: 0 -18px;
  }
  .section--two--first--headline {
    font-size: 46px;
    @include section--two--first--headline;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 45px;
  }
  .section--two--second--headline {
    @include section--two--second--headline;
  }
  .section--two--second--article {
    @include section--two--second--article;
  }
  .section--two--content {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    padding: 40px 20px 0 20px;
  }
  .section--two--content--flex {
    display: flex;
    max-height: 140px;
  }
  .section--two--icon {
    height: 64px;
    padding-top: 20px;
  }
  .section--two--icon--flex {
    display: flex;
    justify-content: center;
    width: 20%;
    min-width: 120px;
  }
  .section--two--content--flex2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  .section--two--content--image {
    @include section--two--content--image;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 9;
  }
  .section--two--image {
    height: 380px;
    width: 100%;
    padding-top: 40px;
  }
  //===========Section-two============//

  //===========Section-three============//

  .section--three {
    @include section--three--background;
    margin: -40px -18px;
  }
  .section--three--first--headline {
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 100px;
  }
  .section--three--icon {
    padding-bottom: 30px;
  }
  .section--three--second--article {
    font-family: 'Lato', sans-serif;
    @include section--three--second--article;
  }
  .section--three--content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .section--three--content--flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .section--three--second--last--article {
    @include section--three--second--last--article;
    max-width: 800px;
    border-bottom: 3px solid #645766;
    padding-bottom:20px;
  }
  //===========Section-three============//

  //===========Footer============//
  footer {
    @include footer--background;
    padding-top: 30px;
  }
  .footer--content {
    @include footer--content;
    margin: 10px;
    max-height: 560px;
  }
  .footer--headline{
    @include footer--headline;
    padding: 110px 0 60px;
    font-size: 48px;
  }
  .footer--content--headline {
    @include footer--content--headline;
  }
  .third--footer--content {
    @include third--footer--content;
    min-height: 600px;
  }
  .footer--subscription--pricing {
    @include footer--subscription--pricing;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 150px;
  }
  .footer--content--headline {
    @include footer--content--headline;
  }
  .bottom-content{
    display: flex;
    justify-content: center;
    padding: 110px 0 30px;
  }
  .section--three--border{
    padding: 20px 0 30px;
  }
  .third--footer--content--headline {
    background: #3f2d42;
  }
  .footer--first-article {
    @include footer--first-article;
  }
  .footer--span {
    font-weight: bold;
  }
  .footer--second-article {
    @include footer--second-article;
  }
  .border {
    @include border;
  }
  .second--border {
    @include second--border;
  }
  .footer--third-article {
    @include footer--third-article;
  }
  .footer-button {
    @include footer-button;
  }
  .footer--flex1 {
    @include footer--flex;
    align-items: center;
  }
  .footer--flex2 {
    @include footer--flex;
    align-items: center;
  }
  .footer--span3 {
    @include footer--span3;
  }
  .indent {
    @include indent;
  }
}
