@mixin section--one--first--article {
  font-size: 14px;
  color: #848E97;
}
@mixin section--one--headline {
  color: #635C73;
  text-transform: uppercase;
}
@mixin section--two--first--headline{
  color: #8D81AC;
  margin-bottom: 0;
}
@mixin section--two--second--headline{
  font-size: 16px;
  color: #323232;
  font-weight: normal;
  margin-bottom: 0;
}
@mixin section--two--second--article{
  font-size: 14px;
  color: #848E97;
  padding-bottom: 60px;
}
@mixin section--two--content--image{
  display: flex;
  justify-content: flex-end;
}
@mixin section--two--image{
  height: 380px;
  padding: 64px 0 10px;
  width: 100%;
  margin-right: -18px;
}
@mixin section--three--background{
  background-image: url("../app/images/testmonials-bg 1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 -18px;
}
@mixin section--three--second--article{
  padding: 0 20px 30px 20px;
  font-size: 16px;
  color: #FFFFFF;
}
@mixin section--three--second--last--article{
  font-size: 14px;
  color: #A291A5;
}

@mixin footer--background{
  background-image: url("../app/images/Layer 2.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 -18px;
}

@mixin footer--content {
  background: #5f5161;
  max-width: 250px;
  min-width: 250px;
  margin-bottom: 20px;
}
@mixin footer--headline{
  font-size: 28px;
  margin-top: 0;
  color: #FFFFFF;
}

@mixin footer--content--headline{
  background: #685b6a;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 36px 30px;
  margin-top: 0;
  color: #FFFFFF;
}
@mixin footer--first-article{
  font-size: 60px;
  color: #FFFFFF;
  margin: 30px 0 20px;
}
@mixin footer--second-article{
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@mixin footer--third-article{
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 30px;
}
@mixin footer-button{
  background: #685b6a;
  font-size: 15px;
  width: 163px;
  height: 45px;
  text-transform: uppercase;
  border: 0;
  border-radius: 20px;
  margin:50px 0 65px;
  color: #FFFFFF;
}
@mixin border {
  width: 60px;
  border-bottom: 5px solid #8D81AC;
  margin-left: 95px;
  padding-top: 38px;
}
@mixin second--border{
  margin-left: 120px;
  padding-top: 38px;
}
@mixin third--footer--content{
  max-width: 280px;
  min-width: 280px;
  //min-height: 600px;
  background: #47324a;
}
@mixin footer--subscription--pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin indent {
  padding-bottom:20px ;
}
@mixin footer--flex{
  display: flex;
}
@mixin footer--span3{
  font-size: 80px;
}

@mixin header--info--button {
  font-size: 15px;
  background: #8D81AC;
  border-radius: 40px;
  border: none;
  color: #FFFFFF;
  padding: 5px 10px;
}
@mixin welcome--block--headline{
  font-size: 48px;
  color: #FFFFFF;
  margin: 0 0 19px 0;
  padding-top: 14%;
}
@mixin welcome--block--article1{
  font-size: 18px;
  color: #8D81AC;
  margin: 0 0 14px 0;
}
@mixin welcome--block--article2{
  font-size: 14px;
  color: #848E97;
  text-transform: uppercase;
}
@mixin welcome-block--button{
  font-size: 18px;
  background: #8D81AC;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 13px 50px;
  border: none;
}
@mixin absolute{
  left: 0;
  right: 0;
}