@import "./mixins.scss";
@import "./variables.scss";

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    padding: 0 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  //===========Welcome-block============//

  .welcome-block {
    position: relative;
    background-image: url("../app/images/img 1.jpg");
    height: calc(100vh - 111px);
    background-position: center;
  }
  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #27262A;
    min-height: 103px;
  }
  .hidden {
    display: none;
  }
  .burger-menu {
    background: #333;
    position: absolute;
    z-index: 10;
    top: 110px;
    width: 290px;

    ul {
      list-style-type: none;
      font-size: 26px;
      color: #FFFFFF;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .menu-item {
        padding: 29px 0 21px 0;
        border-bottom: 2px solid #3b3b3b;
        width: 100%;
        text-align: left;

        &:focus > a, &:active > a  {
          border-left: 7px solid #8D81AC;
          color: #8D81AC;
        }

        a {
          text-decoration: none;
          color: #fff;
          font-size: 26px;
          width: 100%;
          font-weight: normal;
          padding: 10px 0 10px 30px;
          margin-left: 2px;
        }
      }
    }
  }

  .header--menu{
    display: none;
  }
  .header--info--logo2 {
    display: none;
  }
  .header--info--pc{
    display: none;
  }
  .welcome--block--headline {
    @include welcome--block--headline;
  }
  .header--info--button {
    @include header--info--button;
  }
  .welcome--block--article1 {
    @include welcome--block--article1;
  }
  .welcome--block--article2 {
    @include welcome--block--article2;
  }
  .welcome--block--content {
    position: absolute;
    bottom: -25px;
    @include absolute;
  }
  .welcome-block--button {
    @include welcome-block--button;
    padding: 13px 30px;
  }

  //===========Welcome-block============//

  //===========Section-one============//
  .section--one--first--article {
    @include section--one--first--article;
    padding: 30px 0 80px;
  }
  .section--one--headline {
    @include section--one--headline;
    font-size: 26px;
  }
  .section--one--second--article {
    font-size: 14px;
    color: #323232;
  }
  .section--one--buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section--one--second--button {
    padding: 20px 0 120px;
  }
  //===========Section-one============//

  //===========Section-two============//
  .section--two--first--headline {
    font-size: 32px;
    @include section--two--first--headline;
  }
  .section--two--second--headline {
    @include section--two--second--headline;
  }
  .section--two--second--article {
    @include section--two--second--article;
  }
  .section--two--icon {
    padding-top: 36px;
  }
  .section--two--image {
    @include section--two--image;
  }
  .section--two--content--image {
    @include section--two--content--image;
    padding-left: 20px;
  }
  //===========Section-two============//

  //===========Section-three============//
  .section--three {
    @include section--three--background;
  }
  .section--three--first--headline {
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 57px;
  }
  .section--three--icon {

  }
  .section--three--second--article {
    font-family: 'Lato', sans-serif;
    @include section--three--second--article;
  }
  .section--three--second--last--article {
    @include section--three--second--last--article;
    margin-bottom: 0;
    padding: 30px 20px 50px 20px;
  }
  .section--three--border {
    position: absolute;
    bottom: 30px;
    background-color: #645766;
    height: 5px;
    width: 240px;
  }
  .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  //===========Section-three============//

  //===========Footer============//
  footer {
    @include footer--background;
    margin-top: -25px;
  }
  .footer--content {
    @include footer--content;
  }
  .footer--headline {
    @include footer--headline;
  }
  .third--footer--content {
    @include third--footer--content;
  }
  .footer--subscription--pricing {
    @include footer--subscription--pricing;
  }
  .footer--content--headline {
    @include footer--content--headline;
  }
  .third--footer--content--headline {
    background: #3f2d42;
  }
  .footer--first-article {
    @include footer--first-article;
  }
  .footer--span {
    font-weight: bold;
  }
  .footer--second-article {
    @include footer--second-article;
  }
  .border {
    @include border;
  }
  .second--border {
    @include second--border;
  }
  .footer--third-article {
    @include footer--third-article;
  }
  .footer--flex2 {
    @include footer--subscription--pricing;
  }
  .footer-button {
    @include footer-button;
  }
  .footer--span3 {
    @include footer--span3;
  }
  .indent {
    @include indent;
  }
}
