@import "./mixins.scss";
@import "./variables.scss";


@media only screen and (min-width: 481px) and (max-width: 992px) {
  body {
    padding: 0 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  //===========Welcome-block============//
  .welcome-block {
    position: relative;
    background-image: url("../app/images/img 1.jpg");
    height: calc(100vh - 111px);
    background-position: center;
  }
  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #27262A;
  }
  .hidden {
    display: none;
  }
  .burger-menu {
    background: #333;
    position: absolute;
    z-index: 10;
    top: 110px;

    ul {
      list-style-type: none;
      font-size: 26px;
      color: #FFFFFF;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .menu-item {
        padding: 29px 0 21px 0;

        a {
          text-decoration: none;
          color: white;
          font-size: 26px;
          border-left: 7px solid #8D81AC;
          width: 100%;
          font-weight: normal;
          padding: 10px 30px 10px 50px;
          border-bottom: 2px solid #3b3b3b;
        }
      }
    }
  }
  .menu-item2 > a{
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: #8D81AC;
  }
  .header--menu{
    display: flex;
    justify-content: space-evenly;
    padding: 0 60px 15px;
    margin: 0;
    background: #27262a;
  }
  .menu-item > a:hover {
    color: #8D81AC;
  }
  .header--button{
    display: none;
  }
  .header--burger{
    display: none;
  }
  .welcome--block--headline {
    @include welcome--block--headline;
    font-size:72px;
  }
  .header--info--button {
    @include header--info--button;
  }
  .welcome--block--article1 {
    @include welcome--block--article1;
    font-size: 24px;
  }
  .welcome--block--article2 {
    @include welcome--block--article2;
  }
  .welcome--block--content {
    position: absolute;
    bottom: -25px;
    @include absolute;
  }
  .welcome-block--button {
    @include welcome-block--button;
    padding: 22px 100px;
  }
  .header--info--pc{
    display: none;
  }

  //===========Welcome-block============//

  //===========Section-one============//
  .section--one--first--article {
    @include section--one--first--article;
    padding: 30px 0 80px;
  }
  .section--one--headline{
    @include section--one--headline;
    font-size: 42px;
  }
  .section--one--second--article{
    font-size: 21px;
    color: #323232;
  }
  .section--one--buttons{
    padding: 24px 0 90px;
  }
  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #27262A;
    padding: 24px 20px 23px;
  }
  .header--info--logo1{
    display: none;
  }
  //===========Section-one============//

  //===========Section-two============//

  .section--two--first--headline{
    font-size: 42px;
    @include section--two--first--headline;
    padding-bottom: 60px;
  }
  .section--two--second--headline{
    @include section--two--second--headline;
  }
  .section--two--second--article{
    @include section--two--second--article;
  }
  .section--two--content{
    text-align: left;
  }
  .section--two--content--flex{
    display: flex;
  }
  .section--two--icon{
    height: 84px;
  }
  .section--two--icon--flex{
    display: flex;
    justify-content: center;
    width: 20%;
    padding-right: 23px;
    min-width: 140px;
  }
  .section--two--content--flex2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  .section--two--content--image{
    @include section--two--content--image;
  }
  .section--two--image{
    height: 380px;
    padding: 64px 0 10px;
    width: 90%;
    margin-right: -18px;
  }
  //===========Section-two============//

  //===========Section-three============//
  .section--three{
    @include section--three--background;
    margin: -10px -18px;
  }
  .section--three--first--headline{
    font-size: 42px;
    color: #FFFFFF;
    padding-top: 80px;
  }
  .section--three--icon{
    padding-bottom: 30px;
  }
  .section--three--second--article{
    font-family: 'Lato', sans-serif;
    @include section--three--second--article;
  }
  .section--three--content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .section--three--content--flex{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .section--three--second--last--article{
    @include section--three--second--last--article

  }
  //===========Section-three============//

  //===========Footer============//
  footer{
    @include footer--background;
  }
  .footer--content {
    @include footer--content;
    margin: 20px;
    max-height: 560px;
  }
  .footer--headline{
    @include footer--headline;
    padding-top: 80px;
    font-size: 42px;
  }
  .section--three--second--last--article{
    padding-bottom: 20px;
    max-width: 650px;
    border-bottom: 3px solid #645766;
  }
  .bottom-content{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px;
  }
  .section--three--border{
    padding: 20px 0 30px;
  }
  .footer--content--headline {
    @include footer--content--headline;
  }
  .third--footer--content {
    @include third--footer--content;
    min-height: 600px;
  }
  .footer--subscription--pricing{
    @include footer--subscription--pricing;
  }
  .footer--content--headline {
    @include footer--content--headline;
  }
  .third--footer--content--headline{
    background: #3f2d42;
  }
  .footer--first-article {
    @include footer--first-article;
  }
  .footer--span {
    font-weight: bold;
  }
  .footer--second-article{
    @include footer--second-article;
  }
  .border{
    @include border;
  }
  .second--border{
    @include second--border;
  }
  .footer--third-article{
    @include footer--third-article;
  }
  .footer-button{
    @include footer-button;
  }
  .footer--flex1{
    @include footer--flex;
    align-items: center;
  }
  .footer--flex2 {
    @include footer--flex;
    align-items: center;
    padding: 0 30px 90px 0;
  }
  .footer--span4{
    @include footer--span3;
  }
  .indent{
    @include indent;
  }
}
