body {
    margin: 0 auto;
}

.container {
    width: 1280px;
    padding: 63px 0px 30px 0px;
}

.blue-text {
    color: #4bcaff;
}

.link1 {
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #35444F;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;

}

.button {
    color: #FFFFFF;
    border-left: 1px solid white;
    border-right: 1px solid white;;
    padding: 26px 39px;
    text-decoration: none;
}

.button:hover {
    background: #222F3A;
}

.left-menu {
    align-self: start;
    width: 344px;
    font-size: 27px;
    border: 1px solid #000000;
    margin: 50px 50px 0px 0px;
}

.menu-item {
    padding: 26px 44px;
}

.menu-item:hover {
    background: #DBDBDB;
    text-align: center;
    font-weight: bold;
}

.content {
    display: flex;
}

.image {
    flex: 1;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    align-items: center;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.image > img {
    height: 360px;
}

.text-content {
    flex-wrap: wrap;
    margin-left: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
}

.content1 {
    margin-bottom: 50px;
}

.content2 {
    padding-bottom: 54px;
}

.footer > ul {
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    text-align: center;
    display: flex;
    justify-content: start;
    padding: 10px 0px;
}

.footer-content {
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer-content:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}

.content3 {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #010101;
    margin-left: auto;
    padding-right: 40px;
}