body {
    font-family: 'Ubuntu', sans-serif;
}
.background {
    background-image: url("../img/Фон 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    transition-property: all;
}
.new-background{
    background-image: url(https://www.fao.org/images/devforestslibraries/default-album/forests.jpg?sfvrsn=2dd96b96_11);
}
.background-header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 54px;
}

.header-content {
    padding-left: 79px;
    font-size: 22px;
    font-weight: bold;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 79px;
    font-size: 14px;
}

.contact-span {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 27px;
}

svg {
    padding: 0px 27px;
}

.main-content {
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 400px;
    flex-direction: column;
    margin: 0 auto;
    padding: 31px 60px 38px 60px
}

.main-content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.main-box {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    top: 33px;
    left: 0px;
}

.main-content-span1 {
    color: #434343;
    font-size: 20px;
    font-weight: bold;
}

.main-content-span2 {
    color: #3CB878;
    font-size: 14px;
}

.main-content3 {
    display: flex;
    flex-direction: column;
    color: #BEBEBE;
    font-size: 14px;
    padding: 0px 60px 16px 5px;
}

input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 185px 15px 35px;
    margin: 10px 0px;
}

.main-button {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 149px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    width: 400px;
}

div > button > span {
    font-size: 16px;
    color: #FFFFFF;
}

div > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.first-button {
    background: #305DB8;
}

.second-button {
    background: #DF4A32;
}

.button-content > button > img {
    padding: 0px 10px;
}

.button-content {
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 16px 0px 0px;

}

.separator {
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #848484;
    padding: 40px 60px 10px 5px;
}

.center-border {
    border: 1px solid #F2F2F2;
    flex: 1;
    height: 0;
}

.separator-span {
    padding: 0px 5px;
}

.button-span1 {
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    padding: 0px 36px 0px 40px;
}

.button-span2 {
    border-left: 1px solid rgba(43, 13, 9, 0.1);
    padding: 0px 36px 0px 40px;
}

.interview-span1 {
    display: flex;
    align-items: center;
}

.interview-span2 {
    color: #434343;
    font-size: 14px;
    padding-left: 10px;
}

.interview-span3 {
    color: #3CB878;
}

.main-interview {
    padding-bottom: 20px;

}
.content-span:hover {
    transition: color 1s;
    color: #01813F;
}
.contact-span1:hover {
    transition: color 1s;
    color: #01813F;
}

svg:hover path {
    transition: 1s;
    stroke: #01813F;
    fill: #01813F;
}
.main-content-span2:hover {
    transition: color 1s;
    text-decoration: underline;
}
.interview-span3:hover {
    transition: color 1s;
    text-decoration: underline;
}
.first-button:hover {
    transition: background-color 1s;
    background: #022263;
}
.second-button:hover {
    transition: background-color 1s;
    background: #AB1F09;
}
.main-button:hover {
    transition: background-color 1s;
    background: #01813F;
}
input:active {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}