.cardProduct {
    display: flex;
    flex-direction: column;
    border: 2px gray solid;
    margin: 10px;
}

.cardProduct-img > img {
    height: 10rem;
    width: 15rem;
    padding: 10px;
}

.cardProduct-name {

}

.cardProduct-itemNumber {

}

.cardProduct-color {
    padding-bottom: 10px;
}

.cardProduct-icons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.cardProduct-icons > button{
    border: none;
    background: none;
}
.cardProduct-icons > button > img{
    width: 1rem;
    height: 1rem;
}