.header-list-button {
  position: relative;
}

.header-list.hidden {
  display: none;
}


.main-content {
  display: flex;
  flex-direction: column;

  .flex1, .flex2 {
    display: flex;
    flex-direction: column;
  }
}