@mixin headline-font-mobile {
    font-size: 14px;
    color: #4E4E4E;
    text-transform: uppercase;
  }
  @mixin headline-font {
    font-size: 16px;
    color: #4E4E4E;
    text-transform: uppercase;
  }
  //-------------------------------//
  @mixin header--button{
    position: relative;
    left: 210px;
    background: black;
  }
  //-------------------------------//

  @mixin caption-font-mobile {
    font-size: 14px;
    color: #4E4E4E;
    margin-bottom: 5px;
  }
  @mixin caption-font {
    font-size: 16px;
    color: #4E4E4E;
  }

  //-------------------------------//
  @mixin span-font-mobile {
    font-size: 11px;
    color: #4E4E4E;

  }
  @mixin span-font {
    font-size: 12px;
    color: #4E4E4E;
  }

  //-------------------------------//
  @mixin footer-address-mobile {
    font-size: 11px;
    color: #B9B9B9;
    text-decoration: none;

  }
  @mixin footer-address {
    font-size: 12px;
    color: #B9B9B9;
    text-decoration: none;
  }
  //-------------------------------//
  @mixin footer-paragraph-mobile {
    font-size: 12px;
    color: #B9B9B9;

  }
  @mixin footer-paragraph{
    font-size: 16px;
    color: #B9B9B9;
  }
  //-------------------------------//
  @mixin footer-location{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #000000;
  }
  //-------------------------------//

  @mixin rest-post-description{
    font-size: 14px;
    color: #5C5C5C;
  }
