@import "./mixins.scss";
@import "./variables.scss";

@media only screen and (max-width: 320px) {
  body {
    position: absolute;
  }
  header {
    padding-bottom: 23px;
  }
  main {
    padding: 23px 25px;
  }
  .header--button {
    @include header--button;
  }
  .header--button input {
    display: none;
  }
  .header--button--press {
    @include header--button;
  }
  .hidden {
    display: none;
  }
  .header-list {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 11px;
    width: 160px;
    position: absolute;
    right: 25px;
    background: #F5F5F5;
  }
  .header-list-button {
    padding: 8px 0 14px 13px;
    text-decoration: none;
    color: #4E4E4E;
  }
  .header-list-button:hover {
    background: #E5E5E5;
  }
  .header-list-button:focus {
    color: #57A4A4;
  }
  .main-image {
    width: 270px;
  }
  .first--main--image {
    width: 100%;
  }
  .first--main--headline {
    padding: 38px 0 23px;
  }
  .second--main--headline {
    padding-top: 65px;
  }
  .main-headline {
    @include headline-font-mobile;
  }
  .main-caption {
    @include caption-font-mobile;
  }
  .main-comments {
    padding-bottom: 29px;
    margin: 0;
  }
  .first--main--span {
    padding-right: 10px;
    @include span-font-mobile;
  }
  .second--main--span {
    padding-left: 10px;
    @include span-font-mobile;
  }
  footer {
    @include footer-location;
    padding: 35px;
  }
  .footer-headline {
    color: #FEFEFE;
    font-size: 14px;
    text-transform: uppercase;
  }
  .footer-address {
    @include footer-address-mobile;
    margin: 5px;
  }
  .footer-paragraph {
    @include footer-paragraph-mobile;
  }
  .footer-icons {
    padding: 25px 0;
  }
  .rest-post-description,
  .hidden-main,
  .instagram-image{
    display: none;
  }
  .footer-address-list{
    display: flex;
    flex-direction: column;

  }
}
