@import "./mixins.scss";
@import "./variables.scss";


@media only screen and (min-width: 321px) and (max-width: 768px) {
  .header-list {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  .header-list-button {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #4E4E4E;
  }
  .header-list-button:hover {
    color: #57A4A4;
  }
  .first--main--headline {
    @include headline-font;
    padding: 46px 0 24px;
  }
  .second--main--headline {
    @include headline-font;
  }
  .third--main--headline{
    font-size: 13px;
    color: #4E4E4E;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
  .button {
    display: none;
  }
  main {
    padding: 0 80px;
  }
  .flex1{
    display: flex;
    justify-content: center;
  }
  .first--main--image {
    width: 100%;
  }
  .reset-post{
    display: flex;
    padding-bottom: 30px;
  }
  .reset-post-text{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 20px;
  }
  .main-caption{
    @include caption-font;
    margin-top: $margin-zero;
    margin-bottom: 5px;
  }
  .main-comments{
    @include caption-font;
    margin-top: $margin-zero;
  }
  .main-span{
    @include span-font;
    margin: $margin-zero;
  }
  .rest-post-description{
    @include rest-post-description;
    margin: $margin-zero;
  }
  .last-instagram-shot{
    background:rgb(247,247,247);
    padding: 25px 80px 35px 80px;
  }
  .caption-instagram-shot{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .last-instagram-images{
    display: flex;
  }
  .last-instagram-image{
    width: calc(33.33% - 5px);
    padding: 5px;
  }
  .instagram-image-hidden{
    display: none;
  }
  footer {
    @include footer-location;
    padding: 35px;
  }
  .footer-headline {
    color: #FEFEFE;
    font-size: 14px;
    text-transform: uppercase;
  }
  .footer-address {
    @include footer-address;
    padding: 5px;
  }
.footer-address-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .footer-paragraph {
    @include footer-paragraph-mobile;
  }
  .footer-icons {
    padding: 25px 0;
  }
}
